/* Variables for managing colors, fonts, spacing, etc */
:root {
    --primary-color: #F2F2F2;
    --primary-dark-color: #260801;
    --accent-color: #D9A171;
    --secondary-color: #A6653F;
    --secondary-dark-color: #F2C299;
    --font-family: 'Georgia', sans-serif;
    --font-size: 1.75vh;
    --font-size-large: 2rem;
    --font-size-title: 2.5rem;
    --font-size-button: 1.25rem;
    --spacing-unit: .5rem;
    --width-boxes: 95%;
    --opacity-level: 0.80;
    --button-opacity-level: 1.0;
}
html, body {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    font-size: var(--font-size);
    text-align: center;
}
.return-home {
    font-family: var(--font-family);
    font-size: var(--font-size-title);
    color: var(--primary-color);
    text-decoration: none;
}
.address {
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    color: var(--primary-color);
    text-decoration: none;
}
.phone-number {
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    color: var(--primary-color);
    text-decoration: none;
}
header {font-family: var(--font-family);
    background-color: var(--primary-dark-color);
    color: var(--primary-color);
    padding: var(--spacing-unit);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--spacing-unit);
    width: var(--width-boxes);
    border-radius: 1rem;
}
.grid-container {
    display: grid;
    gap: 1em 2em;
    justify-items: center;
    justify-content: center;
    margin-top: var(--spacing-unit * .9);
}
h1 {font-size: var(--font-size-large);
    color: var(--primary-color);
}
h2 {color: var(--primary-color);
    padding: var(--spacing-unit);
}
body {font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--primary-dark-color);
    margin: var(--spacing-unit);
    padding: var(--spacing-unit);
    opacity: var(--opacity-level);
    margin-left: auto;
    margin-right: auto;
    width: var(--width-boxes);
    align-items: center;
    background-image: url(Background_image.jpg); 
    -webkit-backdrop-filter: blur(10px); /* Applies a blur effect to the background image on some systems*/
    backdrop-filter: blur(10px); /* Applies a blur effect to the background image on other systems*/
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; /* Resizes the image to cover the entire container */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
}
footer {font-family: var(--font-family);
    background-color: var(--primary-dark-color);
    color: var(--primary-color);
    padding: var(--spacing-unit);
    margin-top: var(--spacing-unit);
    margin-left: auto;
    margin-right: auto;
    width: var(--width-boxes);
    border-radius: 1rem;
}
.button1 , .button2, .button3, .button4, .button5, .button6 {
    padding: 1rem 1rem;
    font-size: var(--font-size-button);
    color: var(--primary-color);
    border: var(--accent-color) solid 2px;
    background-color: var(--accent-color);
    border-radius: 1rem;
    opacity: var(--button-opacity-level);
    text-decoration: none;
    margin: .25rem;
    width: 85%
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover, .button6:hover {
    background-color: var(--secondary-color);
    border: white solid 2px;
    opacity: 1.0;
    cursor: pointer;
}
@media (min-width: 450px) {
    .grid-container {
    height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 4.25em);
    gap: 1em 2em;
    justify-items: center;
    margin-top: var(--spacing-unit * .9);
}
}