/* Variables for managing colors, fonts, spacing, etc */
:root {
    --primary-color: #F2F2F2;
    --primary-dark-color: #260801;
    --accent-color: #D9A171;
    --secondary-color: #A6653F;
    --secondary-dark-color: #F2C299;
    --font-family: 'Georgia', sans-serif;
    --font-size: 16px;
    --spacing-unit: .5rem;
    --width-boxes: 95%;
    --opacity-level: 0.75;
    width: 100%;
    height: auto;
    font-size: var(--font-size);
    text-align: center;
}

header {font-family: var(--font-family);
    background-color: var(--primary-dark-color);
    color: var(--primary-color);
    padding: var(--spacing-unit);
    margin-left: auto;
    margin-right: auto;
    width: var(--width-boxes);
}
h1 {font-size: var(--font-size * 3);
    color: var(--primary-color);
}
h2 {color: var(--primary-color);
    padding: var(--spacing-unit);
}
body {font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--primary-dark-color);
    margin: var(--spacing-unit);
    padding: var(--spacing-unit);
    opacity: var(--opacity-level);
    margin-left: auto;
    margin-right: auto;
    width: var(--width-boxes);

    display: flex; /*Need to complete the flex-grid:  five columns need to be identified as classes in the HTML file*/
    flex-direction: column;
    align-items: center;

    background-image: url(Background_image.jpg); 
    -webkit-backdrop-filter: blur(10px); /* Applies a blur effect to the background image on some systems*/
    backdrop-filter: blur(10px); /* Applies a blur effect to the background image on other systems*/
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; /* Resizes the image to cover the entire container */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
}
footer {font-family: var(--font-family);
    background-color: var(--primary-dark-color);
    color: var(--primary-color);
    padding: var(--spacing-unit);
    margin-left: auto;
    margin-right: auto;
    width: var(--width-boxes);
}
.button {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.25rem;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    margin: .25rem;
    width: 20%
}
.button:hover {
    background-color: var(--secondary-color);
    opacity: 1.0;
}

@media only screen 
  and (width: 475px) 
  and (height: 900px) {
    body {
        background-image: url(Mobile_background_image.jpg);
    }
}