/* Variables for managing colors, fonts, spacing, etc */
:root {
    --primary-color: #F2F2F2;
    --primary-dark-color: #260801;
    --accent-color: #D9A171;
    --secondary-color: #A6653F;
    --secondary-dark-color: #F2C299;
    --font-family: 'Georgia', sans-serif;
    --font-size: 16px;
    --spacing-unit: 8px;
    --opacity-level: 0.75;
}

header {background-color: var(--primary-dark-color);
}
h1 {text-align: center;
        font-size: 48px;
        color: var(--primary-color);
}
h2 {text-align: center;
        color: var(--primary-color);
        padding: var(--spacing-unit);
}
body {text-align: center;
        font-family: var(--font-family);
        background-color: var(--primary-color);
        color: var(--primary-dark-color);
        margin: var(--spacing-unit);
        padding: var(--spacing-unit);
        background-image: url("Background_image.jpg");
        opacity: var(--opacity-level);
        margin-left: auto;
        margin-right: auto;
        width: 80%;
}
footer {text-align: center;
        font-family: var(--font-family);
        background-color: var(--primary-dark-color);
        color: var(--primary-color);
        margin: var(--spacing-unit);
        padding: var(--spacing-unit);
        opacity: var(--opacity-level);
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px;
}
.button:hover {
    background-color: var(--secondary-color);
    opacity: 1.0;
}